.btn-blue {
    color: white;
    background: #6772e5;
    box-shadow: 0 4px 6px rgba(50,50,93,.11);
    border-radius: 4px;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}
.btn-blue:hover {
    background: #7795f8;
    color: white;
}
