.card-white {
    background-color: white;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50,50,93,.11);
    padding: 16px;
    margin: 16px 0;
}

.card-white img {
    margin-bottom: 20px;
}
